<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Sum App</h1>
  <p>The open source enterprise collaboration platform</p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      {% for collection in site.collections %}
      <li class="nav-item">
        <a class="nav-link" href="collection.label">{{collection.label}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>