<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

{% include head.html %}

<body>
  {% include header.html %}

  <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-4">
        {% assign collection = site.collections | where: "label", page.collection %}
        <h3>{{collection.title}}</h3>
        <ul class="nav nav-pills flex-column">
          {% for link in collection.docs %}
          <li class="nav-item">
            <a class="nav-link active" href="{{link.url}}">{{link.title}}</a>
          </li>
          {% endfor %}
        </ul>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>

</html>