<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

{% include head.html %}

<body class="{{layout.root-class}}">
    {% include header.html %}

    {{ content }}

    <!-- Javascript -->
    <script src="/assets/plugins/jquery-3.4.1.min.js"></script>
    <script src="/assets/plugins/popper.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Page Specific JS -->
    {% if layout.scripts %}
    {% include_relative {{ layout.scripts }} %}
    {% endif %}
</body>

</html>