---
layout: base
---
<div class="col-sm-4">
    {% assign collection = site.collections | find: "label", page.collection %}
    <h3>{{collection.title}}</h3>
    <ul class="nav nav-pills flex-column">
        {% for link in collection.docs %}
        <li class="nav-item">
            {% if link.url == page.url %}
            <a class="nav-link active" href="{{link.url}}">{{link.title}}</a>
            {% else %}
            <a class="nav-link" href="{{link.url}}">{{link.title}}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <hr class="d-sm-none">
</div>
<div class="col-sm-8">
    <hr>
    {{ content }}
</div>