---
layout: base
---

<body class="docs-page">
    {% include header.html %}

    <div class="docs-wrapper">
        {% include sidebar.html %}

        <div class="docs-content">
            <div class="container">
                <article class="docs-article">
                    <header class="docs-header">
                        <h1 class="docs-heading">
                            {{page.title}}
                            <span class="docs-time">Last updated: 2019-06-01</span>
                        </h1>
                        <section class="docs-intro">
                            {% include toc.html html=content %}
                        </section>
                        <!--//docs-intro-->
                    </header>
                    <section class="docs-section">
                        {{ content }}
                    </section>
                    <!--//section-->
                </article>

                {% include footer.html %}
            </div>
        </div>
    </div>
    <!--//docs-wrapper-->

    <!-- Javascript -->
    <script src="/assets/plugins/jquery-3.4.1.min.js"></script>
    <script src="/assets/plugins/popper.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Page Specific JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script src="/assets/js/highlight-custom.js"></script>
    <script src="/assets/plugins/jquery.scrollTo.min.js"></script>
    <script src="/assets/plugins/lightbox/dist/ekko-lightbox.min.js"></script>
    <script src="/assets/js/docs.js"></script>

</body>